/*==========Fonts CSS Start==========*/
@font-face {
  font-family: "Gilroy-Heavy";
  src: local("Gilroy-Heavy"),
    url("./assets/fonts/Gilroy-Heavy.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"),
    url("./assets/fonts/Gilroy-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url("./assets/fonts/Gilroy-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url("./assets/fonts/Gilroy-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Super Funky", sans-serif;
  src: local("Super Funky"), url("./assets/fonts/Super Funky.ttf") format("tff");
  font-style: normal;
  font-weight: normal;
}
@import url("https://fonts.cdnfonts.com/css/super-funky");
/*==========Fonts CSS End==========*/
:root {
  --navbar-width: 300px;
  --color-light: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Super Funky", sans-serif;
}
li,
ul,
a {
  text-decoration: none;
  list-style: none;
  margin: 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header,
.main-banner-section {
  background: #262626;
  color: #dddddd;
}
.header .header-container {
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.main-banner-section .main-container {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}
.header-logo a {
  text-decoration: none;
  list-style: none;
  color: #dddddd;
}
.header-logo img {
  padding: 1.5rem 0;
  max-width: 124px;
}
.header-menu {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
}
.header-menu-item {
  display: block;
  padding: 8px 16px;
}
.header-menu-item {
  display: block;
  padding: 8px 16px;
}
.header-nav li a {
  color: #ffffff;
  text-decoration: none;
}
.navbar-toggleBtn {
  display: none;
  color: #ffffff;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.main-title h1 {
  width: 100%;
  font-size: 4rem;
  line-height: 1.5;
}
.main-title p {
  width: 50%;
  font-family: Gilroy-Regular;
  font-size: 1.25rem;
  margin: 1rem 0;
  line-height: 1.5em;
}
.main-title span {
  padding: 0.75rem 0;
  border-bottom: 2px solid #d9d1c0;
}
.about-section {
  margin: 0;
  background: repeating-linear-gradient(
    90deg,
    #f6f4f0,
    #f6f4f0 49.9%,
    #ffffff 49.1%,
    #ffffff 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.about-img {
  max-width: 570px;
  height: 100%;
}
.about-right-box {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.logo-img {
  max-width: 124px;
}
.about-right-box p {
  font-family: Gilroy-Regular;
  font-size: 1rem;
  font-weight: 400;
  color: #62605e;
}
.about-right-box h3 {
  font-family: Gilroy-Regular;
}
.about-right-box h1 {
  font-size: 2.5rem;
}
.about-right-box button {
  font-family: "Super Funky", sans-serif;
  padding: 1rem 1.5rem;
  color: #f6f4f0;
  background-color: #1f1d16;
  border: none;
}
.about-right-box button a {
  color: #f6f4f0;
}
.menu-section .menu-container {
  padding: 5rem 0;
  background-color: #ff3aab;
  color: #262626;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-container h2 {
  font-size: 4rem;
  margin: 1.5rem;
}
.menu-container p {
  font-family: Gilroy-Regular;
  margin: 1rem;
}
.feature-section {
  background-color: #000000;
  color: #ffffff;
  margin: 0 auto;
}
.feature-container {
  max-width: 1680px;
  height: auto;
  margin: 0 auto;
  display: flex;
  padding: 5rem 3rem 3rem;
  flex-direction: column;
}
.feature-container > p {
  font-family: Gilroy-Regular;
  width: 34%;
  margin: 1rem 0;
}
.menu-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.gallery-item {
  width: 520px;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid #2ebfff;
}
.gallery-img {
  width: 460px;
  height: 460px;
  object-fit: cover;
}
.gallery-item span {
  color: #2ebfff;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 3rem 0;
}
.menu-select-box {
  max-width: 1580px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
.menu-section .container,
.offer-section .container,
.testimonial-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.menu-container > h2,
.feature-container > h2,
.offer-section h2,
.testimonial-section .container > h2 {
  margin: 1rem 0;
  font-size: 3rem;
}
.menu-section .container > p,
.testimonial-section .container > p {
  font-family: Gilroy-Regular;
  width: 40%;
  font-size: 1rem;
  text-align: center;
  color: #62605e;
}
.menu-box,
.menu-gallery {
  margin: 2rem auto;
}
.menu-card {
  max-width: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 2px solid #f6f4f0;
}
.menu-card img {
  width: 150px;
  height: 150px;
}
.menu-description-box {
  padding: 2rem 3rem;
}
.menu-description-box h2,
.menu-card span {
  font-family: Gilroy-Heavy;
}
.menu-card h2 {
  padding: 1rem 0;
  font-weight: bold;
}
.menu-card p {
  font-family: Gilroy-Regular;
}
.menu-card span {
  font-size: 2rem;
  font-weight: bold;
}
.offer-section {
  margin: 0;
  background-color: #9a4dff;
  padding: 5% 0% 13% 0%;
  color: #262626;
}
.offer-section h3,
.testimonial-section h3 {
  font-family: Gilroy-Light;
}
.offer-section h2 {
  font-size: 4rem;
  margin: 1rem 0;
}
.offer-section .container > p {
  width: 60%;
  margin: 1.5rem 0 5rem;
  font-family: Gilroy-Bold;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;
}
.offer-burger {
  opacity: 0.75;
  filter: brightness(200%) contrast(0%) saturate(0%) blur(0px) hue-rotate(0deg);
  transition-duration: 0.3s;
}
.btn-left {
  font-family: Gilroy-Regular;
  width: 200px;
  position: relative;
  color: #1f1d16;
  border-width: 2px solid #f6f4f0;
  padding: 15px 27px;
}
.btn-left:hover {
  background-color: #1f1d16;
  color: #f6f4f0;
  border: none;
}
.btn-right {
  font-family: Gilroy-Regular;
  width: 200px;
  position: relative;
  background-color: transparent;
  color: #f6f4f0;
  border: 2px solid #f6f4f0;
  padding: 15px 27px;
}
.btn-right:hover {
  background-color: #1f1d16;
  border: none;
}
.schedule-section {
  background-color: #f6f4f0;
  color: #1d1d1d;
  margin: 0 auto 5rem;
}
.schedule-section-title {
  padding: 3rem 0;
  font-size: 3rem;
}
.schedule-section .schedule-list-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 0 0 3rem;
}
.schedule-box {
  background-color: #ffffff;
  padding: 20px;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #d9d1c0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 20px 20px 0px;
  padding: 20px 20px 30px 20px;
}
.schedule-box p:nth-of-type(1),
.schedule-box h2 {
  font-family: Gilroy-Heavy;
}
.schedule-box > span {
  font-family: Gilroy-Regular;
}
.schedule-box p:nth-of-type(2),
.schedule-box p:nth-of-type(3) {
  font-family: Gilroy-Regular;
}
.schedule-box img {
  width: 50px;
}
.divider-separator-small {
  display: block;
  width: 40px;
  height: 0.25rem;
  margin: 1rem 0;
  background-color: #d9d1c0;
}
.fa-map-marker-alt,
.fa-clock {
  color: #ef3e2dcc;
  margin: 0 0.25rem;
}
.schedule-box p {
  margin: 1rem 0;
}
.testimonial-section {
  margin: 5rem auto;
}
.card-container {
  max-width: 1140px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.testimonial-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-duration: 2s;
}
.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce2 {
  animation-name: bounce2;
  animation-timing-function: ease;
}
@keyframes bounce2 {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
.testimonial {
  padding: 1.5rem;
  background-color: #f6f4f0;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: #d9d1c0;
}
.testimonial > p {
  color: #62605e;
  font-family: Gilroy-Regular;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625em;
}
.testimonial-info {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
}
.testimonial-info img {
  width: 55px;
  height: 55px;
}
.testimonial-info p {
  color: #858382;
  font-family: Gilroy-Regular;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.5em;
}
.testimonial-info span {
  color: #1f1d16;
  font-family: "Playfair Display", Sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.testimonial-burger {
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  height: 296px;
}
/* Contact Section Start */
.contact-section {
  background-color: #f6f4f0;
  color: #1d1d1d;
}
.contact-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9rem 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.location-left-box h2 {
  font-size: 4rem;
}
.contact-box-1 h2 {
  font-family: Gilroy-Heavy;
  font-size: 4rem;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 24px;
  border-radius: 50%;
}
.icon-box:hover {
  background-color: #ffffff21;
}
.icon-box:hover {
  fill: #fff;
  color: #fff;
  border-color: #fff;
}
.phone-number-box,
.email-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.contact-box-1 p {
  font-family: Gilroy-Regular;
  margin: 2rem 1rem;
  color: #1d1d1d;
  line-height: 1.5;
  font-weight: 300;
}
.contact-box-1 span {
  font-family: Gilroy-Heavy;
  display: block;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300px;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  font-family: "Super Funky", sans-serif;
  height: auto;
  background: #f6f4f0;
  color: #1d1d1d;
  border: 1px solid #d9d1c0;
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s linear;
  margin: 1rem 0;
}
textarea {
  height: 200px;
  padding: 1rem;
}
.contact-form input {
  width: 672px;
  padding: 1rem 1rem;
}
.contact-form button {
  font-family: "Super Funky", sans-serif;
  width: 264px;
  padding: 1.25rem 2rem;
  background: #f6f4f0;
  border: 1px solid #d9d1c0;
  color: #1d1d1d;
  font-size: 1.25rem;
  border-radius: 2px;
  font-weight: bold;
}
.contact-form button:hover {
  background-color: #1f1d16;
  color: #f6f4f0;
  border: none;
}
/* Contact Section End */
/* Footer Section Start */
.footer-section {
  background-color: #000000;
  color: #ffffff;
  padding: 5rem 0;
}
.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container h2 {
  font-family: Gilroy-Bold;
  font-size: 1.25rem;
}
.footer-logo {
  text-align: center;
}
.footer-logo p {
  font-family: Gilroy-Heavy;
}
.footer-box-1 p,
.footer-box-2 p {
  font-family: Gilroy-Light;
  margin: 0.5rem 0;
}
.footer-box-1 a {
  font-family: Gilroy-Light;
  display: block;
  color: #ffffff;
  margin: 0.5rem 0;
}

/* Responsive 1024px Start */
@media screen and (max-width: 1024px) {
  .header .header-container {
    padding: 1rem 0;
    flex-direction: column;
    border-bottom: 1px solid#FFFDEB;
  }
  .header-menu {
    display: none;
    flex-direction: column;
    gap: 0;
    margin: 0rem 1rem;
  }
  .header-menu li {
    width: 100%;
    text-align: center;
  }
  .navbar-toggleBtn {
    display: block;
    top: 2.5rem;
    left: 1.5rem;
  }
  .header-menu.open {
    display: flex;
  }
  .main-image img {
    width: 100%;
  }
  .main-title h1 {
    width: 90%;
    padding: 1.5rem;
    font-size: 3rem;
  }
  .main-title p {
    width: 80%;
    font-size: 1.25rem;
    padding: 1.5rem;
    margin: 1rem 0 4rem;
  }
  .main-title {
    margin-top: 4rem;
  }
  .contact-form input {
    width: 540px;
  }
  .card-container {
    max-width: 1000px;
  }
  .menu-select-box,
  .offer-section .container,
  .menu-section .container,
  .testimonial-section .container,
  .schedule-section .container,
  .footer-container {
    max-width: 1000px;
  }
  .gallery-item {
    width: 320px;
    height: 400px;
  }
  .gallery-img {
    width: 280px;
    height: 190px;
  }
  .contact-box-1 {
    padding: 0 1rem;
  }
  .contact-form input {
    width: 450px;
  }
  .contact-box-1 h2 {
    font-size: 3rem;
  }
  .contact-box-1 span {
    font-size: 1rem;
  }
  .contact-section .container {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
    align-items: flex-start;
  }
  .footer-section {
    padding: 1rem;
  }
}
/* Responsive 1024px End */
/* Responsive 820px Start*/
@media screen and (max-width: 820px) {
  .header-menu-item {
    display: block;
    padding: 8px 5px;
  }
  .main-image img {
    width: 100%;
    padding: 1.5rem;
  }
  .main-title h1 {
    width: 90%;
    font-size: 2.5rem;
  }
  .main-title p {
    width: 80%;
    font-size: 1.25rem;
    margin: 2rem 0 4rem;
  }
  .about-img {
    width: 780px;
    height: 600px;
  }
  .about-right-box {
    max-width: 100%;
    padding: 1.5rem 5rem;
  }
  .schedule-section-title {
    padding: 3rem 5rem;
  }
  .about-section {
    flex-direction: column;
  }
  .menu-card {
    max-width: 600px;
    flex-direction: column;
  }
  .menu-card img {
    width: 100%;
    height: 450px;
  }
  .menu-gallery {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery-item {
    width: 600px;
    height: 500px;
  }
  .gallery-img {
    width: 404px;
    height: 300px;
  }
  .feature-container {
    align-items: center;
    max-width: 600px;
  }
  .testimonial-section .container {
    text-align: center;
  }
  .menu-section .container,
  .testimonial-section .container {
    max-width: 600px;
  }
  .schedule-section .schedule-list-box {
    width: 600px;
    grid-template-columns: 1fr;
  }
  .feature-container > p,
  .menu-section .container > p,
  .testimonial-section .container > p {
    width: 100%;
  }
  .schedule-box p {
    margin-top: 0.75rem;
  }
  .card-container {
    max-width: 600px;
    margin: 5rem auto;
    flex-direction: column;
    gap: 1rem;
  }
  .contact-section .container {
    flex-direction: column;
    padding: 2rem;
  }
  .contact-form input {
    width: 500px;
  }
  .contact-box-1 h2 {
    font-size: 3rem;
  }
  .contact-box-1 {
    margin: 1rem 0;
  }
  .contact-section .container {
    align-items: center;
  }
  .footer-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
/* Responsive 820px End*/
/* Responsive 598px Start*/
@media screen and (max-width: 598px) {
  .main-title h1 {
    padding: 1.5rem;
    font-size: 2.5rem;
  }
  .main-title p {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin: unset;
  }
  .main-title span {
    margin: 0.5rem;
  }
  .main-banner-section .main-container {
    flex-direction: column;
  }
  .about-img {
    max-width: 300px;
    height: 350px;
  }
  .about-right-box {
    max-width: 100%;
    padding: 2.5rem 1rem;
  }
  .menu-card {
    max-width: 300px;
  }
  .menu-card img {
    width: 100%;
    height: auto;
  }
  .card-container {
    max-width: 300px;
    margin: 5rem auto;
    flex-direction: column;
    gap: 1rem;
  }
  .gallery-item {
    width: 300px;
    height: 420px;
  }
  .gallery-img {
    width: 280px;
    height: 250px;
  }
  .gallery-item span {
    font-size: 2rem;
  }
  .feature-container {
    max-width: 300px;
  }
  .menu-section {
    background: repeating-linear-gradient(
      180deg,
      #f6f4f0,
      #f6f4f0 5%,
      #ffffff 95%,
      #ffffff 100%
    );
    padding: 5rem 0 5rem;
  }
  .feature-container {
    max-width: 300px;
    padding: 2rem 1rem 1rem;
    gap: 1.5rem;
    text-align: center;
  }
  .menu-section .container,
  .testimonial-section .container {
    max-width: 300px;
  }
  .menu-description-box {
    padding: 1rem;
  }
  .offer-section h2,
  .menu-container h2 {
    font-size: 2rem;
  }
  .feature-container > h2,
  .testimonial-section .container > h2 {
    margin: unset;
    font-size: 2rem;
  }
  .offer-section .container > p {
    width: 100%;
    padding: 0 1rem;
  }
  .testimonial-card {
    flex-direction: column;
  }
  .testimonial-burger {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 296px;
  }
  .btn-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .schedule-section-title {
    font-size: 2rem;
    padding: 3rem 0;
  }
  .about-left-box img,
  .schedule-section .container,
  .schedule-section .schedule-list-box,
  .contact-form input {
    max-width: 300px;
  }
  .contact-box-1 h2 {
    font-size: 2rem;
  }
  .contact-box-1 span {
    font-size: 1rem;
  }
  .footer-container {
    gap: 3rem;
    margin: 4rem auto;
  }
}
/* Responsive 598px End*/
